body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100vw;
  height: 100vh;
  background-image: url(images/0a905b1671b946ebbb86e47230a32260.jpeg);
  background-size: cover;
  color: rgb(18, 214, 221);
  font-size: 70px;
  font-family: monospace;
  padding-top: 12%;
  text-shadow: 10px gray;
  border:1px solid blue;
}

h1 {
  color: rgb(18, 214, 221);
  font-size: 70px;
  font-family: monospace;
  text-align: center;
  background-color: snow;
  width: 700px;
  align-self: center;
  padding-left: 80px;
}

h2 {
  color: rgb(148, 235, 238);
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  background-color: snow;
  position: center;
  width: 700px;
  align-self: center;
}

ul {
  font-family: monospace;
  padding-bottom: 20px;
}

h3 {
  font-style: oblique;
  font-variant: unset;
  color: rgb(18, 214, 221);
}

.info {
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-size: 15pt;
  font-family: monospace;
  font-style: oblique;
  text-align: justify;
  border: 2px solid black;
  width: 550px;
  height: 350px;
}

.video {
  width: 40vw;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 20px;
  border:1px solid red
}

.info_video {
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}